<h2 class="f2">Add a Landmark</h2>

<form class="pa4 black-80" action="/landmarks" method="post">
  <div class="measure">

    <label for="landmark_name" class="f6 b db mb2"><h4 class="f4">Landmark Name</h4></label>
    <input id="landmark_name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" name="landmark[name]">

    <label for="landmark_year_completed" class="f6 b db mb2"><h4 class="f4">Landmark Name</h4></label>
    <input id="landmark_year_completed" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" name="landmark[year_completed]">

    <input type="submit" value="Create New Landmark" class="f6 link dim br1 ph3 pv2 mb2 dib white bg-hot-pink">
  </div>
</form>
